body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button,
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img,
fieldset {
  border: 0 none;
}

ul,
ol,
li {
  list-style: none;
}

em,
address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

em,
i {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

img {
  border: none;
}

input,
img {
  vertical-align: middle;
}

input {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

textarea:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

.clearfix::after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: ' ';
  font-size: 0;
}

.clearfix {
  *zoom: 1;
}
